/*common*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.background {
	padding-top: 50px;
	padding-bottom: 150px;
	background-image: url("img/background.jpg");
	background-size: cover;
}

.container {
	margin: auto;
	width: 65%;
	background-color: rgba(0,0,0,0.6);
	padding-bottom: 30px;
	border-radius: 10px;
}

/*Header*/
.center {
	text-align: center;
	color: #00dd00;
	font-size: 15px;
}

.logo {
	height: 70px;
	}

/*Nav*/
.choice {
	background-color: #00dd00;
	margin-left: 35px;
	margin-right: 35px;
	padding: 10px 0 10px 0;
}

/*Main*/
.name {
	color: white;
	margin-left: 35px;
	padding-top: 15px;
}

.name > h4 {
	display: inline-block;
}

main span {
	display: block;
}

.carica {
	height: 20px;
	border-radius: 4px;
}

.orange {
	background-color: orange;
	width: 350px;
}

.green {
	background-color: green;
	width: 450px;
}

.red {
	background-color: red;
	width: 200px;
}

